<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_user_save_after">
        <observer name="redMonks_userspecifictwofactorauth_admin_user_save_after" instance="RedMonks\UserSpecificTwoFactorAuth\Observer\AdminUserSaveAfter"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="redMonks_userspecifictwofactorauth_before_twofactor_auth_check" instance="RedMonks\UserSpecificTwoFactorAuth\Observer\ControllerActionPredispatch"/>
    </event>
</config>
